.add-card-container {
    padding: 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 50%;
    margin: auto;
    margin-top: 10%;
}
.add-card-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.add-card-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.add-card-form button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.add-card-form button:hover {
    background-color: #45a049; /* Darker green */
}

.add-card-input ,label{
    font-size: 16px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display:block;
   
}