.login-container {
    padding: 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 50%;
    margin: auto;
    margin-top: 10%;
}

.login-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.login-form button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049; /* Darker green */
}

.login-input:invalid {
    border: 1px solid red;
}

@media (max-width: 600px) {
    .login-container {
        width: 50%;
        margin-top: 5%;
    }
    .login-input {
        padding: 10px 15px;
    }

    .login-form{
        padding: 10px 15px;
        align-self: center;
        align-content: center;
        align-items: center;
    }

    .login-form button {
        padding: 10px 15px;
        align-items: center;
        align-self: center;
        align-content: center;
        
    }
}